
*.mod
gowebapp/go.mod
chapter2_chitchat/.idea/chapter2_chitchat.iml
chapter2_chitchat/.idea/workspace.xml
chapter2_chitchat/.idea/chapter2_chitchat.iml
chapter2_chitchat/.idea/workspace.xml
chapter2_chitchat/.idea/workspace.xml
chapter2_chitchat/.idea/workspace.xml
chapter2_chitchat/.idea/workspace.xml
chapter2_chitchat1/.idea/chapter2_chitchat1.iml
chapter2_chitchat1/.idea/misc.xml
chapter2_chitchat1/.idea/modules.xml
chapter2_chitchat1/.idea/vcs.xml
chapter2_chitchat/.idea/workspace.xml
